@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
  font-family: 'Montserrat', sans-serif;
}

section {
  margin: 15px 0 30px 0;

  input {
    &:focus {
      border-color: #363636;
    }
  }
}

article {
  min-height: 36px;
}
