<div class="hero is-warning is-bold is-fullheight">
  <div class="hero-body">
    <main class="container">
      <div class="columns">
        <div class="column">

          <header class="row">
            <div class="container has-text-centered">
              <p class="title is-1">Abbrv.ca</p>
              <p class="subtitle is-7">URL Shortening Service</p>
            </div>
          </header>

          <section class="row">
            <div class="field has-addons has-addons-centered">
              <div class="control">
                <input #urlInput class="input is-rounded is-shadowless" type="text" placeholder="Enter URL here">
                <p class="help is-danger has-text-centered">{{ error }}</p>
              </div>
              <div class="control">
                <a class="button is-dark is-rounded" [class.is-loading]="shortening" (click)="shorten(urlInput)">Shorten</a>
              </div>
            </div>
          </section>

          <article class="row">
            <div class="field is-grouped is-grouped-multiline">
              <div class="control" *ngFor="let url of urls">
                <div class="tags has-addons" [@slideIn]="'in'">
                  <a class="tag is-light has-text-weight-bold" href="{{ url }}">{{ url }}</a>
                  <a class="tag is-dark" (click)="copy(url)">Copy</a>
                </div>
              </div>
            </div>
          </article>

        </div>
      </div>
    </main>
  </div>
</div>
